<div class="text-center">
  <div id = 'thispost'>
  <h2>{{name}}</h2>
  <div id = 'eachpost'>
  <p id = 'textreply'>{{description}}</p>
  <p id = 'creator'>-- {{user.name}} {{format_date date_created}}</p>
  </div>
  </div>

  <div id = 'allreply'>
  <h2>Comments:</h2>
  {{#each replies as |reply|}}
    <div id = 'eachreply'>
    <p id = 'textreply'>{{reply.reply_dis}}</p>
    <p id = 'creator'>--{{user.name}} {{format_date date_created}}</p>
    </div>
  {{/each}}
  </div>

  <div>
    <textarea class="form-input" id="project-reply" name="project-reply"></textarea>
  <p>
    <button class="btn btn-primary" id = "replybtn" value = {{id}}>Reply!</button>
  </p>
  </div>
</div>

<script src="../js/project.js"></script>